{% extends 'base.html.twig' %}

{% block title %}
    {{ 'title.category_details'|trans({'%id%': category.title|default('')}) }}
{% endblock %}

{% block body %}
    <div class="container">
    <div class="row">
    <div class="col-1"></div>
    <div class="col-10 main-content">

    {% if category is defined and category|length %}
        <h1>{{ category.title }}</h1>
        <dl class="dl-horizontal">
            <dd>{{ category.createdAt|date('Y/m/d') }}, <strong>{{ 'label.category'|trans }}:</strong> {{  category.title }}</dd>
        </dl>
        <p>
            <button type="button" class=" btn btn-secondary">
                <a class="btnlink" href="{{ url('category_index') }}" title="{{ 'action.back_to_list'|trans }}">
                    {{ 'action.back_to_list'|trans }}
                </a>
            </button>
        </p>
    {% else %}
        <p>
            {{ 'message.record_not_found'|trans }}
        </p>
    {% endif %}
    </div>
    <div class="col-1"></div>
    </div>
    </div>
{% endblock %}